[submodule "Manipulacion_de_Arrays"]
	path = Manipulacion_de_Arrays
	url = https://github.com/Canchis12/Manipulacion_de_Arrays.git
[submodule "Lab_Propiedades_Objetos"]
	path = Lab_Propiedades_Objetos
	url = https://github.com/Canchis12/Lab_Propiedades_Objetos.git
[submodule "Lab_Declarando_Clases"]
	path = Lab_Declarando_Clases
	url = https://github.com/Canchis12/Lab_Declarando_Clases
[submodule "Lab_Count_Html_Css_JS"]
	path = Lab_Count_Html_Css_JS
	url = https://github.com/Canchis12/Lab_Count_Html_Css_JS
